<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>Conditional IFTTT Triggers</title>
    <meta name="description" content="Conditional IFTTT Triggers">
    <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Conditional IFTTT Triggers
      </h1>
    </header>
    
    <main>
      <p class="bold">Oh hi! This app will trigger one or more IFTTT services, but only after specific conditions are met e.g. if this AND this.
      <p>You want to <a href="https://gomix.com/#!/project/conditional-ifttt-triggers">view the code</a>, so you can see how I work and then <a href="https://gomix.com/#!/remix/conditional-ifttt-triggers/0e1a6c28-f95f-4920-a691-27697b572b24">remix</a> me to create your own.</p>
    </main>

    <footer>
      <p>
        <a href="https://gomix.com/#!/remix/conditional-ifttt-triggers/0e1a6c28-f95f-4920-a691-27697b572b24">
          <img src="https://gomix.com/images/background-light/remix-on-gomix.svg">
        </a>
      </p>
      <p>
        <a href="https://gomix.com/#!/project/conditional-ifttt-triggers">
          View Code
        </a>
      </p>
    </footer>
  </body>
</html>
